body {
  font-family: "Helvetica", sans-serif;
  text-align: center;
}

/* Banner */
.banner {
  color: White;
  background-image: url(../images/the-flatiron-building.png);
}
h1 {
  font-size: 70px;
  font-weight: bold;
}
a {
  color: White;
  font-size: 18px;
}

/* Process */
#process h2 {
  font-size: 32px;
  font-weight: bold;
}
h3 {
  font-size: 23px;
  font-weight: bold;
}
p {
  font-size: 14px;
}

/* Bottom */
.bottom h2 {
  color: White;
  background-image: url(../images/the-flatiron-building.png);
}

/* Footer */
.footer {
  text-align: left;
  background-color: dimgray;
  color: White;
}
.footer p {
  font-size: 11px;
}
